// Colors

$color-primary:#55c57a;
$color-primary-light:#ffb900;

$color-primary-dark:#ff7730;
$color-secondary-light:#2998ff;
$color-secondary-dark:#5643fa;

$color-tertiary-light: #7ed56f;
$color-tertiary-dark: #28b485;

$color-white:#fff;
$color-black:#000;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//FONT SIZE
$default-font-size:1.6rem;

// GRIDS
 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;