.footer {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8));
    background-size: cover;
    padding: 5rem 0;
    font-size: 1.4rem;
    color: $color-white;

   
}