.header {
    height: 99vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../img/kid.jpg); 
    background-size: cover;
    background-position: bottom;
    position: relative;
    clip-path:polygon(0 0,100% 0,100% 75vh,0 100%)
}

.logo-box{
        position: absolute;
        top:4rem;
        left:4rem;
}
.logo{
height: 7.5rem;
}
.text-box{
    position: absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
}
.logo-box{
    animation: moveInRight 2s ease-out;
}