.btn:link,
.btn:visited{
 text-transform: uppercase;
 text-decoration: none;
 padding:15px 40px;
 display: inline-block;
 border-radius:10rem;
 transition: all .2s;
 position: relative;
 font-size: 1.6rem;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow:0 10px 20px rgba(0,0,0,.2);
}
.btn:active{
    transform:translate(-1px);
    box-shadow:0 5px 10px rgba(0,0,0,0.2) 
}

.btn-white{
    background-color: $color-white;
    color:#777;
}
.btn-green{
    background-color: $color-primary;
    color:#fff;
}
.btn::after{
    content:"";
    display:inline-block;
    height:100%;
    width:100%;
    border-radius: 10rem;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    transition: all .4s;
}
.btn-white::after{
 background-color: $color-white;
}
.btn:hover::after{
    transform:scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated{
    animation:moveInButton .5s ease-out .75s;
    animation-fill-mode: backwards;
}