.card{
    perspective: 150rem;
    height: 40rem;
    -moz-perspective: 150rem;
    position: relative;
    &__side{
    height: 30rem;
    transition: all 0.7s ease;
    position:absolute;
    top:0;
    left:0;
    width: 100%;      
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black,.15);

    &--front{
        background-color: $color-white; 

    } 

    &--back{
        background-color: green;
        transform: rotateY(180deg);
        &-1{
            background-image: linear-gradient(to right bottom,$color-tertiary-light,$color-tertiary-dark);
        }
       
    
    }

    }

    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0deg);
    }

    &__picture{
        background-size: cover;
        height:25rem;
        &--1{ 
            background-image: url(../img/Dr_PB_Singh.jpg); 
        }
        &--2{ 
            background-image: url(../img/dr_prashant_singh.jpg); 
        }
        &--3{ 
            background-image: url(../img/dr-jigyasa-singh.png); 
        }
        &--4{ 
            background-image: url(../img/Dr_PB_Singh.jpg); 
        }
    }
   &__details{
       ul{
           list-style: none;
           width:100%;
           margin:0;
           text-align: center;
       }
       li{
           color:#4D0000;
           text-align: center;
           font-size: 1.4rem;
           padding:0.2rem;
           font-weight:300;
       }
   }

   //card back styling
    &__cta{
        position:absolute;
        top:50%;
        left: 50%;
        transform:translate(-50%,-50%);
        text-align:center;
        width:90%;
    }
    &__info{
        text-align:center;
        color:$color-white;
    }
    &__info-only{
        font-size: 1.5rem;
        text-transform: uppercase;
        padding:1rem;
        margin-bottom: 6rem;
    }

}