@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translate(-10rem);
    }
    80%{
        transform: translate(2rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translate(10rem);
    }
    80%{
        transform: translate(-2rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInButton{
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }
    
    100%{
        opacity: 1;
        transform: translate(0);
    }
}