body{
    font-family: "Lato",sans-serif;
    font-weight:400;
    line-height: 1.7;
    color:#777;
    padding:0;
}

.heading-primary{
    color:$color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-services{
    font-weight:400;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    color:$color-white;
    margin-top: -10rem;
    padding-bottom: 4rem;
    letter-spacing: 0.5rem;
}

.heading-primary-main{
    display: block;
    font-size:5rem;
    font-weight: 400;
    letter-spacing: 1.25rem;
    animation: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.heading-primary-sub{
        display: block;
        font-size:2rem;
        font-weight: 700;
        letter-spacing: 1.25rem;
        animation: moveInRight 2s ease-out;
}

.heading-secondary{
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right,$color-secondary-light,$color-secondary-dark); 
  -webkit-background-clip: text;
  letter-spacing: .2rem;
  transition: all 0.2s;
  color:transparent;
  
  &:hover{  
      transform: skewY(2deg) scale(1.1);
      text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
  }
}
.tours{
    font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right,$color-tertiary-light,$color-tertiary-dark);
  -webkit-background-clip: text;
  letter-spacing: .2rem;
  transition: all 0.2s;
  color:transparent;
  
  &:hover{  
      transform: skewY(2deg) scale(1.1);
      text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
  }
}

.heading-tertiary{
      font-size: $default-font-size;
      font-weight: 700;
      text-transform: uppercase;
}

.paragraph{
      font-size: $default-font-size;  
      &:not(:last-child){
          margin-bottom: 2rem;
      }
}
