.section-about{ 
    background-color: $color-grey-light-1;
    padding:25rem 0;
    margin-top:-25vh;
}
.section-features {
    padding: 18rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.8),
        rgba($color-secondary-dark, 0.8)),
        url(../img/kidney.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(7deg);
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }

}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 20rem 0 15rem 0;
    margin-top: -10rem;
}     

.section-stories{
    position: relative;
    padding: 20rem 0 20rem 0; 
    margin-top:-10rem;
}
 